.app {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  flex-direction: row;
  align-content: space-between;
  height: 650px;
}
@media screen  and (max-width:1250px){
  .app{
  flex-direction: column;}
}