.app__container__box__result {
    border: 0;
    cursor: pointer;
    width: 70%;
    margin: 20px;
    border: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    padding: 0;
    line-height: 2.214;
  }