.storage{
  display: flex;
  margin: auto;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
width: 80%;
  flex-direction: column;
  box-sizing: border-box;
  
}
@media screen  and (max-width:550px){
  .storage__container{
    width:80vw;}
}