@import url(../src/blocks/app/app.css);
@import url(../src/blocks/app/__container/app__container.css);
@import url(../src/blocks/app/__container/__box/app__container__box.css);
@import url(../src/blocks/app/__container/__button/app__container__button.css);
@import url(../src/blocks/app/__container/__box/__valute/app__container__box__valute.css);
@import url(../src/blocks/app/__container/__box/__result/app__container__box__result.css);
@import url(../src/blocks/app/__container/__box/__input/app__container__box__input.css);
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App__container__box__select {
  width: 100%;
  height: 20%;
  border-radius: 8px 8px 0 0px;
}


